@import "tailwindcss";

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/public/assets/fonts/ClashDisplay-Medium.woff2");
}

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("/public/assets/fonts/ClashDisplay-Regular.woff2");
}

:root {
  --font-display: "ClashDisplay-Regular";
  --font-title: "ClashDisplay-Regular";
  --font-subtitle: "ClashDisplay-Medium";
  --font-text: "ClashDisplay-Regular";
  --font-nav: "ClashDisplay-Medium";
}

@theme {
  --font-display: var(--font-display);
  --font-title: var(--font-title);
  --font-subtitle: var(--font-subtitle);
  --font-text: var(--font-text);
  --font-nav: var(--font-nav);
  --text-7xl: 64px;
  --text-5xl: 40px;
  --text-2xl: 20px;
  --color-text-primary: #f7e1b8;
  --color-text-secondary: #1f1f1f;
  --color-text-accent: #ff672a;
  --color-text-success: #2a9d8f;
  --color-text-warning: #ec5800;
  --color-text-error: #d22b2b;
  --color-background-primary: #1f1f1f;
  --color-background-secondary: #f7e1b8;
}

* {
  box-sizing: border-box;
}
